
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div class="container">
    <h3>Employee Directory</h3>
    <hr>

    <!--  Add New Employee Button -->

    <a href="http://localhost:8080/register"
       class="btn btn-primary btn-sm mb-3" value="/register" /> 
        Add Car  
    </a> 
    <br></br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Model</th>
            <th>City</th>
            <th>Year</th>
            <th>Description</th>
            <th>Featured</th>
            <th>Image</th>
            <th>Producer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${car}">
            <td th:text="${list.model}"/>
            <td th:text="${list.city}"/>
            <td th:text="${list.year}"/>
            <td th:text="${list.image}"/>
            <td th:text="${list.description}"/>
            <td th:text="${list.featured}"/>
            <td th:text="${list.producer}"/>
            <td>
                <a th:href="@{/register/(id=${list.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a><a th:href="@{/list/delete(id=${list.id})}"
                       class="btn btn-danger btn-sm"
                       onClick="if (!(confirm('Are you sure you want to delete this Car?'))) return false">
                Delete
            </a>

            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>
