<!--<!DOCTYPE html>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Registration Form</title>-->
<!--    &lt;!&ndash; link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<table class="table table-success table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">Id</th>-->
<!--        <th scope="col">Modeli</th>-->
<!--        <th scope="col">Viti</th>-->
<!--        <th scope="col">City</th>-->
<!--        <th scope="col">Pershkrimi</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="count : ${car}">-->
<!--        <th th:text="${count.id}"></th>-->
<!--        <th th:text="${count.city}"></th>-->
<!--        <td th:text="${count.model}"></td>-->
<!--        <td th:text="${count.viti}"></td>-->
<!--        <td th:text="${count.pershkrimi}"></td>-->
<!--    </tr>-->


<!--    </tbody>-->
<!--</table>-->
