<div th:fragment="alert(result)">
    <div th:if="${result != null && !result?.success}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning:</strong> <span th:text="${result?.message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
    </div>

    <div th:if="${result != null && result?.success}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Warning:</strong> <span th:text="${result?.message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
    </div>
</div>

