<section th:fragment="featured-cars" id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Featured vehicles</h2>
            <p>Find out our featured vehicles</p>
        </div>

        <div class="row" th:if="${featuredCars != null && featuredCars.size() > 0}" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" th:each="car: ${featuredCars}">
                <div class="course-item">
                    <img th:src="'/assets/img/' + ${car.image}" class="img-fluid" th:alt="${car.model}">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 th:text="${car.city.name}"></h4>
                            <p class="price" th:text="${car.pricePerDay} + ' $'"></p>
                        </div>

                        <h3><a th:href="'/car-detail/' +${car.id}" th:text="${car.producer}">BMW</a></h3>

                    </div>
                </div>
            </div> <!-- End Course Item-->
        </div>

        <div class="row" th:if="${featuredCars == null || featuredCars.size() < 1}">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No vehicles found!
                </div>
            </div>
        </div>

    </div>
</section>