<form th:fragment="search-form" action="/search" method="post">
    <div class="row" th:if="${result != null && result.success == false}">
        <div class="col-12">
            <div class="alert alert-warning" role="alert" th:text="${result.message}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <span class="form-label text-white">Location</span>
        <select name="cityId" class="form-select" th:if="${cities != null && cities.size() > 0}">

            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>


        </select>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <span class="form-label text-white">Check In</span>
                <input class="form-control" type="datetime-local" name="checkin" required>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <span class="form-label text-white">Check out</span>
                <input class="form-control" type="datetime-local" name="checkout" required>
            </div>
        </div>
    </div>
    <br>
    <div class="form-btn align-center">
        <button class="btn btn-success submit-btn">Check availability</button>
    </div>
</form>