<head th:fragment="head">
    <title>Registration Form</title>
    <link href="admin/css/nucleo-icons.css" rel="stylesheet">
    <link href="admin/css/nucleo-svg.css" rel="stylesheet">
    <link href="admin/css/argon-dashboard.css" rel="stylesheet">
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>