<div th:fragment="scripts">
    <!-- Vendor JS Files -->
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script src="admin/js/core/bootstrap.min.js"></script>
    <script src="admin/js/core/popper.min.js"></script>
    <script src="admin/js/plugins/bootstrap-notify.js"></script>
    <script src="admin/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="admin/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="admin/js/argon-dashboard.js"></script>
</div>