<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header ::head"></head>

<body>

<header th:replace="fragment/header :: menu"></header>
<main id="main">
    <div th:if="${car != null}">
        <div class="breadcrumbs aos-init aos-animate" data-aos="fade-in">
            <div class="container">
                <h2 th:text="${car.model}"></h2>
                <p>This are the details of our vehicle</p>
            </div>
        </div>

        <section id="course-details" class="course-details">
            <div class="container aos-init aos-animate" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-8">
                        <img th:src="'/assets/img/' + ${car.image}" class="img-fluid" th:alt="${car.model}">
                        <h3>Description</h3>
                        <p th:text="${car.description}"></p>
                    </div>
                    <div class="col-lg-4">

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Producer</h5>
                            <p th:text="${car.producer}"></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Model</h5>
                            <p th:text="${car.model}"></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Year</h5>
                            <p th:text="${car.year}"></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Price per day</h5>
                            <p th:text="${car.pricePerDay} + ' $'"></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <div class="container aos-init aos-animate" style="margin-bottom: 40px;" data-aos="fade-up">

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p th:text="${car.city.name}"></p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@dailyrental.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <div class="row" th:if="${result != null}">
                        <div class="col-12" th:if="${result.success}">
                            <div class="alert alert-success" role="alert" th:text="${result.message}"></div>
                        </div>

                        <div class="col-12" th:if="${!result.success}">
                            <div class="alert alert-warning" role="alert" th:text="${result.message}"></div>
                        </div>
                    </div>

                    <form action="/booking/save" method="post" role="form" th:if="${dto != null}">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label">Last Name *</label>
                                <input type="text" name="firstName" class="form-control" placeholder="Your Name" th:value="*{dto.firstName}" required="required">
                            </div>

                            <div class="col-md-6 form-group">
                                <label class="form-label">First Name *</label>
                                <input type="text" name="lastName" class="form-control" placeholder="Your Last Name" th:value="*{dto.lastName}" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group mt-3">
                                <label class="form-label">Email *</label>
                                <input type="email" class="form-control" name="email"  placeholder="Your Email" th:value="*{dto.email}" required="required">
                            </div>

                            <div class="col-md-6 form-group mt-3">
                                <label class="form-label">Phone number *</label>
                                <input type="text" class="form-control" name="phone" placeholder="Your Phone" required="required" th:value="*{dto.phone}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mt-3">
                                    <label class="form-label">Check In *</label>
                                    <input class="form-control" type="datetime-local" name="checkin" required th:value="*{dto.checkin}">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mt-3">
                                    <label class="form-label">Check out *</label>
                                    <input class="form-control" type="datetime-local" name="checkout" required th:value="*{dto.checkout}">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="id" th:value="${car.id}">
                        <div class="text-center" style="margin-top: 25px;"><button class="btn btn-success" type="submit">Book this vehicle</button></div>
                    </form>

                    <form action="/booking/save" method="post" role="form" th:if="${dto == null}">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label">Last Name *</label>
                                <input type="text" name="firstName" class="form-control" placeholder="Your Name" required="required">
                            </div>

                            <div class="col-md-6 form-group">
                                <label class="form-label">First Name *</label>
                                <input type="text" name="lastName" class="form-control" placeholder="Your Last Name" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group mt-3">
                                <label class="form-label">Email *</label>
                                <input type="email" class="form-control" name="email"  placeholder="Your Email" required="required">
                            </div>

                            <div class="col-md-6 form-group mt-3">
                                <label class="form-label">Phone number *</label>
                                <input type="text" class="form-control" name="phone" placeholder="Your Phone" required="required">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mt-3">
                                    <label class="form-label">Check In *</label>
                                    <input class="form-control" type="datetime-local" name="checkin" required th:value="*{filter.checkin}">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mt-3">
                                    <label class="form-label">Check out *</label>
                                    <input class="form-control" type="datetime-local" name="checkout" required th:value="*{filter.checkout}">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="id" th:value="${car.id}">
                        <div class="text-center" style="margin-top: 25px;"><button class="btn btn-success" type="submit">Book this vehicle</button></div>
                    </form>
                </div>
            </div>
        </div>


    <div class="row" th:if="${car == null}">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                Vehicle not found in database!
            </div>
        </div>
    </div>



    <!--<div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2 th:text="${car.model}"></h2>
        </div>
    </div>

    <section class="row" th:if="${car != null}" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" th:each="car: ${featuredCars}">
            <div class="course-item">
                <img th:src="'/assets/img/' + ${car.image}" class="img-fluid" th:alt="${car.model}">
                <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 th:text="${car.city.name}"></h4>
                        <p class="price" th:text="${car.pricePerDay} + ' $'"></p>
                    </div>

                    <h3><a th:href="'/car-detail/' +${car.id}" th:text="${car.producer}">BMW</a></h3>

                </div>
            </div>
        </div> &lt;!&ndash; End Course Item&ndash;&gt;

    </section>-->
</main>

<!-- ======= Footer ======= -->
<footer th:replace="fragment/footer ::footerpage"></footer>
<div th:replace="fragment/scripts :: scripts"></div>
</body>

</html>