<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header ::head"></head>
<body>
<header th:replace="fragment/header :: menu"></header>

<main id="main">
    <div class="breadcrumbs aos-init aos-animate" data-aos="fade-in">
        <div class="container">
            <h2>Vehicles</h2>
            <p>This are our available vehicles</p>
        </div>
    </div>
    <section class="ftco-section bg-light">
        <div class="container" data-aos="fade-up">
            <div class="row mb-4">
                <div class="row" th:if="${result != null && result.success == false}">
                    <div class="col-12">
                        <div class="alert alert-warning" role="alert" th:text="${result.message}">
                        </div>
                    </div>
                </div>
                <form action="/search" class="text-center" method="post" th:object="${filter}">
                    <table style="display: inline; vertical-align: middle">
                        <tbody>
                        <tr>
                            <td>
                                <select th:field="*{cityId}" class="form-select" th:if="${cities != null && cities.size() > 0}">
                                    <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                                </select>
                            </td>
                            <td>
                                <div class="form-group p-2">
                                    <input class="form-control" type="datetime-local" placeholder="Checkin" th:field="*{checkin}" required>
                                </div>
                            </td>
                            <td>
                                <div class="form-group text-left p-2">
                                    <input class="form-control" type="datetime-local" placeholder="Checkout" th:field="*{checkout}" required>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success submit-btn m-0 p-2">Check availability</button>
                                <a href="/search/clear" th:if="${filter != null || filter.cityId != null || filter.checkin != null || filter.checkout != null}" class="btn btn-danger btn-xs m-0 p-2">X</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </form>
            </div>
            <div class="row" th:if="${cars != null && cars.size() > 0}" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" th:each="car: ${cars}">
                    <div class="course-item">
                        <img th:src="'/assets/img/' + ${car.image}" class="img-fluid" th:alt="${car.model}">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 th:text="${car.city.name}"></h4>
                                <p class="price" th:text="${car.pricePerDay} + ' $'"></p>
                            </div>

                            <h3><a th:href="'/car-detail/' +${car.id}" th:text="${car.producer}">BMW</a></h3>

                        </div>
                    </div>
                </div> <!-- End Course Item-->
            </div>

            <div class="row" th:if="${cars == null || cars.size() < 1}">
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        There are no featured vehicles for now!
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="fragment/footer ::footerpage"></footer>
<div th:replace="fragment/scripts :: scripts"></div>
</body>
</html>